<p>
  Cart Details
</p>
<mat-accordion>
  <mat-expansion-panel *ngFor="let item of cartItems">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.title}}
      </mat-panel-title>
      <mat-panel-description>
        <div class="header_cost">Total Cost: {{item.selectedQuantity * item.price}}</div>
        Tap to see added item details
      </mat-panel-description>
    </mat-expansion-panel-header>
    Quantity: {{item.selectedQuantity}}
    Size Selected: {{item.selectedSize}}
    Unit Price: {{item.price}}
    Item Image: <img mat-card-image src="{{item.imageUrl}}" alt="">
  </mat-expansion-panel>
</mat-accordion>

<p>
  Proceed with Payment
</p>
<mat-horizontal-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstFormGroup" optional="false" label="saurabh">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill Card Number</ng-template>
        <mat-form-field>
          <input matInput placeholder="Card Number" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Fill out expiry date</ng-template>
          <mat-form-field>
            <input matInput placeholder="Expiry Date" formControlName="thirdCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Fill out cvc</ng-template>
            <mat-form-field>
              <input matInput placeholder="CVC" formControlName="fourthCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      Thanks for entering the card details.
      <div>
        <button mat-raised-button color="primary" (click)="makePayment()" matStepperPrevious>Make Payment</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>